@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  --clr-dark-grey: hsl(234, 12%, 34%);
  --clr-grey: hsl(212, 6%, 44%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-font: "Poppins", sans-serif;
  --text-base: 0.938rem;
}

body {
  width: 100%;
  background: var(--clr-white);
  font-family: var(--clr-font);
  font-size: var(--text-base);
  margin: 2em auto;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.content {
  text-align: center;

  .heading-1 {
    font-size: calc(1.5 * var(--text-base));
    font-weight: 400;
    color: var(--clr-grey);

    &.highlight {
      font-weight: 600;
      color: var(--clr-dark-grey);
    }
  }
  .description {
    font-size: var(--text-base);
    font-weight: 400;
    color: var(--clr-dark-grey);
    margin-top: 1em;
  }
}

.cards {
  margin: 4em 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5em;
}

.card {
  width: 22.5em;
  height: auto;
  background: var(--clr-white);
  padding: 1.5em;
  border-radius: 0.4em;
  box-shadow: 0 0 2px 6px hsla(202, 100%, 76%, 0.11);
  border-top: 6px solid;

  .heading-2 {
    font-size: calc(1.4 * var(--text-base));
    font-weight: 600;
    color: var(--clr-dark-grey);
  }

  .desc {
    font-size: calc(0.95 * var(--text-base));
    font-weight: 400;
    color: var(--clr-grey);
  }

  .icon {
    margin: 1.5em 2em;
    float: inline-end;
  }

  &.card-1 {
    border-color: var(--clr-cyan);
  }

  &.card-2 {
    border-color: var(--clr-red);
  }

  &.card-3 {
    border-color: var(--clr-orange);
  }

  &.card-4 {
    border-color: var(--clr-blue);
  }
}

@media (width > 43.75em) {
  body {
    max-width: 90em;
  }

  .content {
    width: 500px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .card-1 {
    grid-column: 1/2;
    grid-row: span 2/3;
  }

  .card-2 {
    grid-column: 2/3;
    grid-row: span 1 / 2;
  }

  .card-3 {
    grid-column: 2 / 3;
    grid-row: span 2 / 4;
  }

  .card-4 {
    grid-column: 3 / 4;
    grid-row: span 2 / 3;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
